*{
	box-sizing: border-box;

}
body{
	height: 1000px;
}
/*Img Brand*/
.navbar-brand > img
{
	max-width: 60px;
	max-height: 60px;
	border-radius: 0 10% 0 10%;
	}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
{
	padding: 5px 15px;
}
/*Active Link*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
	border-radius: 10% 0 10% 0;
	color: #40c10a;
}
.navbar-inverse .navbar-nav > li > a
{
	color: #40c10a;
	padding: 25px ;
	font-size: 16px;
	font-weight: bold;
}
.navbar-nav > li > .dropdown-menu
{
	background-color: #101010;
	border-top: 1px solid  #d43f3a;
	min-width: 200px;
	
}
.dropdown-menu > li > a
{
	color: #fff;
	padding: 6px 20px;
}
.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus
 {
 	background-color: #d43f3a;
 	padding-left: 30px;
 	-webkit-transition:padding 1s ease;
 }
 .navbar-right .dropdown-menu
 {
 	left: 0;
 	right: auto;
 }
 .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
 	max-height: 500px;
 }
.carousel-caption{
	bottom: 150px;
	color: #d43f3a;
	 
}
.carousel-indicators li{
		width: 15px;
	height: 15px;
	border: 1px solid #d43f3aab;
}
.carousel-indicators .active{
	background-color:#d43f3a;
	width: 17px;
	height: 17px;
	border-style: none;
}
.container .about h1{
	font-weight: bold;
}
.container .about h1 span{
	font-weight: bold;
	color: #d43f3aab;
}
.features{
	background-color: #eee;
	padding: 17px;
}
.features.feat{
	margin-bottom: 20px;
}
.features h1{
	margin-bottom: 20px;
}
 .features .feat p{
 	line-height: 2em;
 }
.col-lg-3 .feat span.glyphicon{
	font-size: 30px;
	margin-bottom: 10px;
}
.testimonials{
	padding-top: 50px;
	padding-bottom: 50px;
}
.testimonials h1{
	font-weight: bold;
	margin-bottom: 20px;
}
.testimonials span{
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	background-color: #d43f3a85;
	padding:3px 20px 6px 20px;
}
 .testimonials .carousel-inner{
 	min-height: 160px;
 }
 .testimonials .carousel-indicators{

 	position: static;
 	width: 100%;
 	margin-left: auto;
padding-top: 20px;
 }
.testimonials .carousel-indicators li{
	text-indent: 0;
	width: 80px;
	height:80px;
}
.testimonials .carousel-indicators li img{
	max-width: 100%;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: right;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}